:root {
    --primary: #9e9d51;
}


body {
    font-size: 18px;
    line-height: 1.5;
    
    
}
.body {
    background-color: #fafafa;
    padding: 20px;
    text-align: left;
    margin: 3rem;
    font-size: x-large;
    border-radius: 2rem;
    box-shadow: -2px 1px 5px 2px rgba(0,0,0,0.66);
    line-height: 1.5rem;
}
.body h1,h2,h3,h4{
    text-align: center;
}
header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 50rem;
}

header, footer {
    position: relative;
    background-color: var(--primary);
    padding: .5rem;
    border-radius: 0.938px;
    color: #fff;
    text-align: center;
}
  
header img {
    width: 12.5rem;
    border: 2px solid; 
    border-radius: 5px;
}

h1, h2, h3 {
    font-weight: bold;
    text-decoration: underline;
}

nav, a {
    color: rgb(149, 153, 111);
    font-size: large;
}
p{
    
}
.list-week{
    border: 2px solid #333;
}
footer{
    padding: 2rem;
}

@media only screen and (min-width: 32.5em) {
    header img {
        float: right;
    }
}
