/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto','Roboto Slab', serif, sans-serif;
}
/*--------------------H1,H2,H3-----------------------*/
a{
  color:#1a1b63;
}
h1,h2,h3{
  text-align: center;
}
.logo-container img{
  border-radius: 90%;
}
body{
  background-color: #FEFAE0;
}
/*----------ABOUT US-----------*/
#main-about{
  background: url(../img/aboutus-2.jpg)no-repeat center center fixed;
  background-size: cover;
}
.aboutus1, .aboutus2{
  max-width: 20rem;
  border: 1px solid rgb(199, 196, 196);
  margin: 4rem;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  background-color: rgb(146, 134, 118);
}
/*-----------------------------------Navigation-------------------------------------*/

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;
  background-color: #283618;
}

#nav-title {
  margin-right: auto;
  font-size: 1.5em;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  color: rgba(207, 191, 191, 0);
  background: 
  linear-gradient(90deg,#1095c1 50%,rgb(179, 165, 165) 0) 
  var(--_p,100%)/200% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: .2s;
  font-size: x-large;
  font-weight: bold;

}

header a:hover {
  --_p: 0%;
}


/*----------------------Form----------------------*/
form { padding-right: 12px; overflow: visible; }
input { display: block; }
/*------------------------------------About Us-----------------------------------------*/


/*---------------------------------------Character----------------------------------------------*/
.bg {
  animation:slide 7s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.cardWrapper {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

@media only screen 
  and (min-width: 7.5rem) 
  and (max-width: 31rem)
 {  
  .main-nav{
    max-width: 12rem;
  }
  /*--------------------------------HOME PAGE------------------------------*/
  .container-ricky_50 img{
    display: flex;
    margin: 1rem auto;
    border-radius: .2rem;
  }
  .content-review div{
    margin: 2rem;
    border: 1px solid #333;
    padding: 1rem;
    font-size: larger;
  }
  /*--------------------------------CHARACTERS-----------------------------*/
  #cardWrapper{
    display: flex;
    flex-direction: column;
  }
  .card-char{
    border: 1px solid #333;
    margin: 0 auto;
    padding: 2rem;
    margin: 1rem 1rem;
    box-shadow: -1px 5px 16px 4px rgba(0,0,0,0.75);
    text-align: center;
    font-size: larger;
    border-radius: 2rem;
  }
  .like{
    padding: 0 1rem;
    font-size: larger;
  }
  #cardWrapper div img{
      max-width: 12rem;
      box-shadow: -1px 5px 16px 4px rgba(0,0,0,0.75);
      margin: 1rem 2.5rem;
  }
  .likeBtn{
    display: flex;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: .2rem;
    background-color: #333;
    color: #fff;
    font-size: larger;
    cursor: pointer;
  }
  .span{
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: .2rem;
    font-size: x-large;

  }
  /*------------------------------------ABOUT US--------------------------------------*/
  #main-div-about{
    display: flex;
    flex-direction: column;
  }
  /*-------------------------------------FOOTER---------------------------------------*/
  .footer-main{
      display: grid;
      grid-template-columns: 1fr; 
      grid-template-rows: 1fr 1fr 1fr;
      background-color: #BC6C25;
      padding-top: 2rem;
      font-size: larger;
      
  }
  .footer-left{
    grid-area: 1 / 1 / 2 / 2;
  }
  .footer-left p{
    margin-bottom: 3rem;
    margin-left: 2rem;
  }
  .footer-center{
    grid-area: 3 / 1 / 4 / 2;
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .footer-right{
      grid-area: 2 / 1 / 3 / 2;
        margin-top: -2rem;
        margin-left: 1rem;
  }
  .footer-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
    font-size: larger;
  }
  .footer-right form input{
    margin-bottom: .5rem;
    max-width: 25rem;
    max-height: 10rem;
  }
  .footer-right form textarea{
    margin-bottom: 1rem;
    max-width: 25rem;
  }
  .footer-right form #submit{
    margin-bottom: 1rem;
    max-width: 10rem;
    font-size: larger;
  }

 }
