/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
}
/*--------------------H1,H2,H3-----------------------*/
h1,h2,h3{
  text-align: center;
}
body{
  background-color: #FEFAE0;
}
/*-----------------------------------Navigation-------------------------------------*/

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;
  background-color: #283618;
}

#nav-title {
  margin-right: auto;
  font-size: 1.5em;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  color: rgba(207, 191, 191, 0);
  background: 
  linear-gradient(90deg,#1095c1 50%,rgb(179, 165, 165) 0) 
  var(--_p,100%)/200% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: .2s;
  font-size: x-large;
  font-weight: bold;

}

header a:hover {
  --_p: 0%;
}


/*----------------------Footer----------------------*/
form { padding-right: 12px; overflow: visible; }
input { display: block; }
/*------------------------------------About Us-----------------------------------------*/

/*----------------------------------------FOOTER-------------------------------------------------*/
.footer-main {
    display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     max-height:fit-content;
     background-color: rgb(99, 87, 73);
     padding: 2rem;
 }
 .footer-main h2 {
   color: rgb(177, 155, 83);
 }
 
 .menu-icon {
     margin-left: 2rem;
     cursor: pointer;
 }
 ::placeholder{
   color: rgb(177, 155, 83);
   font-size: larger;
 }
 .footer-left {
   color: rgb(212, 169, 27); 
 }
/*---------------------------------------Character----------------------------------------------*/
.bg {
  animation:slide 7s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.cardWrapper {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

@media only screen 
  and (min-width: 7.5rem) 
  and (max-width: 31rem)
 {  
  .main-nav{
    max-width: 12rem;
  }
  /*--------------------------------HOME PAGE------------------------------*/
  .container-ricky_50 img{
    display: flex;
    margin: 1rem auto;
  }
  .content-review div{
    margin: 2rem;
    border: 1px solid #333;
    padding: 1rem;
    font-size: larger;
  }
  /*--------------------------------CHARACTERS-----------------------------*/
  #cardWrapper{
    display: flex;
    flex-direction: column;
  }
  .card-char{
    border: 1px solid #333;
    margin: 0 auto;
    padding: 2rem;
    margin: 1rem 1rem;
    box-shadow: -1px 5px 16px 4px rgba(0,0,0,0.75);
    text-align: center;
    font-size: larger;
    border-radius: 2rem;
  }
  .like{
    padding: 0 1rem;
    font-size: larger;
  }
  #cardWrapper div img{
      max-width: 12rem;
      box-shadow: -1px 5px 16px 4px rgba(0,0,0,0.75);
      margin: .9rem 0;
  }
  /*------------------------------------ABOUT US--------------------------------------*/
  #main-div-about{
    display: flex;
    flex-direction: column;
  }
  .footer-main{
      display: grid;
      grid-template-columns: 1fr; 
      grid-template-rows: 1fr 1fr 1fr;

}
.footer-left{
  grid-area: 1 / 1 / 2 / 2;
}
.footer-center{
  grid-area: 3 / 1 / 4 / 2;
  
}
.footer-right{
     grid-area: 2 / 1 / 3 / 2;
}


 }
