/*--------------------H1,H2,H3-----------------------*/
h1,h2,h3{
  text-align: center;
}
body{
  background-color: #FEFAE0;
}
/*-----------------------------------Navigation-------------------------------------*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

a {
      color: #34495e;
      text-decoration: none;}

.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block; 
}

.main-nav {
  display: flex;
  align-content: flex-end;
	margin-top: 5px;


}
.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}
/*----------------------Footer----------------------*/
form { padding-right: 12px; overflow: visible; }
input { display: block; }
/*------------------------------------About Us-----------------------------------------*/

/*----------------------------------------FOOTER-------------------------------------------------*/
.footer-main {
    display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     max-height:fit-content;
     background-color: rgb(99, 87, 73);
     padding: 2rem;
 }
 .footer-main h2 {
   color: rgb(177, 155, 83);
 }
 
 .menu-icon {
     margin-left: 2rem;
     cursor: pointer;
 }
 ::placeholder{
   color: rgb(177, 155, 83);
   font-size: larger;
 }
 .footer-left {
   color: rgb(212, 169, 27); 
 }
/*---------------------------------------Character----------------------------------------------*/

@media only screen 
  and (min-width: 7.5rem) 
  and (max-width: 31rem)
 {  
  .main-nav{
    max-width: 12rem;
  }
  #cardWrapper{
    display: flex;
    flex-direction: column;
  }
  #cardWrapper div img{
      max-width: 12rem;
  }
  /*------------------------------------ABOUT US--------------------------------------*/
  #main-div-about{
    display: flex;
    flex-direction: column;
  }
  .footer-main{
      display: grid;
      grid-template-columns: 1fr; 
      grid-template-rows: 1fr 1fr 1fr;

}
.footer-left{
  grid-area: 1 / 1 / 2 / 2;
}
.footer-center{
  grid-area: 3 / 1 / 4 / 2;
  
}
.footer-right{
     grid-area: 2 / 1 / 3 / 2;
}

 }
