
@media (min-width: 769px) {
  /*-----------------------------------NAV--------------------------------------*/
  #navigation .main-nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  
    position:absolute; right:0;
  }
    .main-cont{
        display: flex;
        
    }
    .container-ricky_50{
        margin: 0 auto;
    }
.header,
.main-nav {
		display: flex;
	}
.header {
		flex-direction: column;
		align-items: end;
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
    .content-review{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .content-review div{
        border: 3px solid #ccc;
        margin: 1rem;
    }
    .content-review div h3,h4,p{
        padding: 1rem;
    }
    #cardWrapper{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(10, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      margin: 0 20rem;


}
#cardWrapper div{
  max-width: 17.5rem;
  border:  3px solid #333;
  margin: 1rem;
  border-radius: 2rem;  
}
#cardWrapper div img{
      max-width: 17.5rem;
  }
}
/*----------------------------------ABOUT US-------------------------------*/
#main-div-about{
  display: flex;
  justify-content: space-around;
  color:rgb(236, 233, 233);
  font-size: x-large;
}
.aboutus1, .aboutus2{
  max-width: 20rem;
  border: 1px solid rgb(199, 196, 196);
  margin: 4rem;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  background-color: rgb(146, 134, 118);
}
#main-about{
  background: url(../img/aboutus-2.jpg)no-repeat center center fixed;
  background-size: cover;
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
