
@media (min-width: 48.063rem) {
  /*-----------------------------------NAV--------------------------------------*/
  #navigation .main-nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  
    position:absolute; right:0;
  }
    .main-cont{
        display: flex;
        
    }
    .container-ricky_50{
        margin: 0 auto;
    }
    .header,
    .main-nav {
        display: flex;
      }
    .header {
        flex-direction: column;
        align-items: end;
        width: 80%;
        margin: 0 auto;
        max-width: 1150px;
      }
  /*--------------------------------------MAIN CONTENT - REVIEWS -----------------------------------------*/
    .content-review{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .content-review div{
        border: 3px solid #ccc;
        margin: 4rem;
        padding: 3rem;
    }
    .content-review div h3,h4,p{
        padding: .3rem;
    }
    /*-------------------------------CHARACTERS-------------------------------------*/
    #cardWrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(10, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      margin-left:10rem;

  }
    #cardWrapper div{
      max-width: 17.5rem;
      border:  3px solid #333;
      margin: 1rem;
      border-radius: 2rem;  
      padding: 3rem;
      font-size: larger;
    }
    #cardWrapper div img{
          display: flex;
          max-width: 15.5rem;
          margin: 0 auto;      
      }
    .likeBtn{
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      padding: .5rem;
      border-radius: .2rem;
      margin: .5rem;
      
    }
    .likeBtn,
    .likeBtn.likeBtn::after {
    padding: 16px 20px;
    font-size: 18px;
    background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
    cursor: pointer;
    }

    .likeBtn::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "LIKE ME";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
    }

    .likeBtn:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
    }

    @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }

    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }

    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }

    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }

    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }

    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }

    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }

    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }

    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }

    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }

    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
    }
    .span{
      display: flex;
      justify-content: center;
      align-items: center;
      color: #333;
      padding: .5rem;
      border-radius: .2rem;
      margin: .5rem;
      font-size: x-large;
      
    }

/*----------------------------------ABOUT US-------------------------------*/
    #main-div-about{
      display: flex;
      justify-content: space-around;
      color:rgb(228, 207, 207);
      font-size: x-large;
    }

  
    /*----------------------------------------FOOTER-------------------------------------------------*/
    .footer-main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-height:fit-content;
      background-color: #BC6C25;
      padding: 2rem;
      font-size: x-large;
    }
    .footer-main h2 {
    color: rgb(49, 43, 24);
    }

    ::placeholder{
    color: rgb(104, 91, 48);
    font-size: larger;
    }
    .footer-left {
    color: rgb(29, 24, 9); 
    margin-top: 2rem;
    }
    .footer-right form{
      display: block;
      margin-left: 8rem;
    }
    .footer-center{
      margin-top: 2rem;
    }
    .footer-center div{
      margin-left: 4rem;
    }
    
}
@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
